.title {
  color:black;
  margin: 25px;
  text-align: center;
}


.about {
  margin: 2% 15% ;
}

.contact-info {
  margin:30px 0;
}
.contact-info li{
  list-style-type:none;
  margin:5px;
  padding:0;
  font-size: 20px;
}


.about a {
  color:blue;
}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 60%;
  border-radius: 25px;
}
