.intro {
  text-align: center;
  margin:50px 0;
  padding:25px;
  background-color: #01bb89;
}


.portfolio {
  display: flex;
  padding: 20px;
  margin:10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.portfolio-sub {
  margin: 3px;
  display: block;
  width: 330px;
  height:330px;
  text-align: center;
  /* background-color: #FFDEEA ; */

  position: relative;
  overflow: hidden;
}

.pic h3{
  padding: 5px 10px;
  position: absolute;
  left:33%; 
  top:33%;
  border-radius: 5rem;
  background-color:#f6f6f699;
}
.pic img {
  width: 330px;
  height: 330px;
}


.pictext {
  text-align: left;
	position: absolute;
	background: #f6f6f6;
	width: 330px;
  height: 330px;
  top:330px;

	-webkit-transition: top .5s;
	-moz-transition: top .5s;
	-o-transition: top .5s;
	-ms-transition: top .5s;
  transition: top .5s;
  
}

.pictext h3 {
  text-align: center;
}

.pictext p {
  margin: 10px;
}

.pictext a {
  margin: 10px;
  color:blue;
  font-size:18px;
}


.portfolio-sub:hover > .pictext {
  top: 0px;
}


